header{
    background-color: $very_pale_cyan;
    display: grid;
    grid-template-columns:1fr;
    text-align: center;
    padding: 35px;
    nav{
        display: flex;
        justify-content: space-between;
        button{
            @include btn(10px, 30px, $white, $very_dark_cyan, $weight_400);
        }
        img{
            width: 150px;
            height: auto;   
        }
    }

    div{
        margin-top: 50px;
        >*{
            margin-bottom: 20px;
        }
        
        img{
            width: $image_scale;
        }
        button{
            @include btn(10px, 70px, $pink, $white, $weight_400);
        }
        p{

            color: $very_dark_cyan;
        }
    }
}

