header{
    background-color: $very_pale_cyan;
    display: grid;
    grid-template-columns:1fr;
    text-align: center;
    padding: 35px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            @include btn(10px, 30px, $white, $very_dark_cyan, $weight_700);
            height: 15px;
        }
        img{
            width:120px;
            height:20px;
        }
    }

    div{
        margin-top: 50px;
        >*{
            margin-bottom: 20px;
        }
        
        img{
            width: $image_scale;
            margin-top: 50px;
        }
        button{
            @include btn(10px, 70px, $pink, $white, $weight_700);
        }
        p{

            color: $very_dark_cyan;
        }
    }
}

@media screen and (min-width: 1440px){
    header{
        display:flex;
        flex-direction:column;
        text-align: left;
        >div{
            display:grid;
            grid-template-columns: 50% 50%;
            .header-card{
                align-self:center;
                button{
                    margin-left:0px;
                }
            }
            .header-img{
                img{
                    margin-top: 0px;
                    margin-left: 20px;
                }

            } 
        }
    }
}